h1 {
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px;
    /* font-weight va desde 100-900 */
    font-weight: 500;
    text-decoration: underline;
}

.parrafo {
    font-family: "Dark Mono", monospace;
    font-size: 32px;
    font-weight: bold;
}

/* Hexadecimal
RGB => Red Green Blue
RGBA => Red Green Blue Alpha
Alpha => Opacidad 0 - 1
hsl => Hue Saturation 
 */

.link-a {
    font-size: 24px;
    font-family: "Dark Mono", monospace;
    /* Al poner non en una propiedad la estamos invalidando */
    text-decoration: none;
    color: #af0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    background-color: rgba(53, 146, 239, 0.3);
}

.span-1 {
    text-decoration: line-through;
    text-transform: capitalize;
}

.span-2 {
    text-decoration: overline;
}

.span-3 {
    text-decoration: underline;
    text-transform: uppercase;
}

.span-4 {
    text-decoration: line-through;
    text-decoration-color: red;
}

.span-5 {
    text-decoration: overline;
    background-color: #0ba;
    text-decoration-color: #fff;
}

.span-6 {
    color: #fff;
    text-decoration: underline;
    background-color: rgb(252, 90, 255);
    text-decoration-color: rgb(255, 183, 0);
    /* Estamos indicando que el texto sea en minusiculas */
    text-transform: lowercase;
}