body {
    font-family: Verdana;
}

/* Al poner el atributo fixed se convierte al elemento en inline */
header {
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 1;
}

nav {
    background-color: #333;
}

ul {
    padding: 20px;
}

ul li {
    display: inline;
}

a {
    color: #fff;
    text-decoration: none;
}

div {
    position: relative;
    top: 100px;
}

#nosotros {
    height: 100vh;
    background-color: aquamarine;
}